# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# OS specific
.DS_Store
Thumbs.db

# IDES
.vscode/
.idea/
